################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
*.csproj
*.csproj.user
bin
Properties
obj
.vs
packages
packages.config
/standard_postbuild.txt
app.config
