################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
*.csproj
*.csproj.user
bin
Properties
obj
.vs
/standard_postbuild.txt
